<nav   class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a  class="navbar-brand" [routerLink]="['/']">Geeks Data</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="authenticated" class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        </li>


      </ul>
      <ul class="navbar-nav">
        <li *ngIf="!authenticated" class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/auth']">Auth</a>
        </li>
        <li *ngIf="authenticated" class="nav-item">
          <a [routerLink]="['/auth']" class="nav-link" (click)="logout()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
