<div class="wrapper">
  <div class="title-text">
    <div [ngClass]="formstate" class="title login">
Login Form</div>
<div  class="title signup">
Signup Form</div>
</div>
<div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label (click)="toggleForm('login')" for="login" class="slide login">Login</label>
      <label (click)="toggleForm('signup')" for="signup" class="slide signup">Signup</label>
      <div class="slider-tab">
</div>
</div>
<div class="form-inner">
      <form [ngClass]="formstate" action="#" class="login">
        <div class="field">
          <input type="text" placeholder="Email Address" required>
        </div>
<div class="field">
          <input type="password" placeholder="Password" required>
        </div>
<div class="pass-link">
<a href="#">Forgot password?</a></div>
<div class="field btn">
          <div class="btn-layer">
</div>
<input type="submit" value="Login">
        </div>
<div class="signup-link" (click)="toggleForm('signup')">
Not a member? <a >Signup now</a></div>
</form>
<form [formGroup]="registerForm" (submit)="register()" #reg  class="signup">
        <div class="field">
          <input formControlName="email" type="text" placeholder="Email Address" required>
        </div>
<div class="field">
          <input formControlName="password" type="password" placeholder="Password" required>
        </div>
<div class="field">
          <input formControlName="cpassword" type="password" placeholder="Confirm password" required>
        </div>
        <div *ngIf="registerForm.errors?.notSame && (registerForm.touched || registerForm.dirty)" class="cross-validation-error-message alert alert-danger ">
          password and confirmation do not match
        </div>

        <div  *ngIf="isSignUpFailed" >
        <div class="cross-validation-error-message alert alert-danger " *ngFor="let error of errorMessages">
         {{error}}
        </div>
          </div>

<div class="field btn">
          <div class="btn-layer">
</div>

<input [disabled]="!registerForm.valid" type="submit" value="Signup">
        </div>
</form>
</div>
</div>
</div>
